.card {
  display: flex;
  flex-direction: column;
}

.card-img {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/assets/images/loader.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;

  img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  margin: 18px 0 8px;
}

.card-description {
  font-size: 14px;
}
