<div class="content">
  <h1>Dashboard</h1>
  <div [formGroup]="filterForm" class="controls-block">
    <input formControlName="search" placeholder="Search"/>
    <div>
      <label for="sort-by">Sort By: </label>
      <select formControlName="sort" name="sort-by" id="sort-by">
        <option value="name-asc">Name (Ascending)</option>
        <option value="name-desc">Name (Descending)</option>
        <option value="dateLastEdited-asc">Date Last Edited (Ascending)</option>
        <option value="dateLastEdited-desc">Date Last Edited (Descending)</option>
      </select>
    </div>
    <div>
      Go to page:
      <input formControlName="page" type="number" min="1" value="1"/>
    </div>
  </div>
  <ng-container *ngIf="filteredData$ | async as filteredData">
    <app-card-grid [dataSource]="filteredData"></app-card-grid>
  </ng-container>
  <div class="table-container">
    <app-table [dataSource]="dataSource"></app-table>
  </div>
</div>