.content {
  margin: 24px;
  align-items: center;
}

.table-container {
  margin-top: 48px;
}

.error-msg {
  margin: 48px auto;
  font-style: italic;
  color: darkgoldenrod;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .content {
    margin: 12px;
  }
}
