.content {
  margin: 24px;
  align-items: center;
}

.controls-block {
  margin: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  & > div {
    margin: 8px;
  }

  input,
  select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid gray;
  }

  .numeric-input {
    width: 48px;
  }
}

.table-container {
  margin-top: 48px;
}

.error-msg {
  margin: 48px auto;
  font-style: italic;
  color: darkgoldenrod;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .content {
    margin: 12px;
  }
}
