<div class="content">
  <h1>Dashboard</h1>
  <div [formGroup]="filterForm" class="controls-block">
    <input formControlName="search" placeholder="Search"/>
    <div>
      <label for="sort-by">Sort By: </label>
      <select formControlName="sort" name="sort-by" id="sort-by">
        <option value="name">Name</option>
        <option value="date-last-edited">Date Last Edited</option>
      </select>
    </div>
    <div>
      Go to page:
      <input formControlName="page" type="number" min="1" value="1"/>
    </div>
  </div>
  <app-card-grid [dataSource]="dataSource"></app-card-grid>
  <div class="table-container">
    <app-table [dataSource]="dataSource"></app-table>
  </div>
</div>