<form [formGroup]="filtersWithPageForm" class="filters-container">
  <div class="filters">
    <div class="filter-item">
      <label>Search: </label>
      <input formControlName="search" placeholder="Enter search string..."/>
    </div>
    <div class="filter-item">
      <label>Sort By: </label>
      <select formControlName="sort">
        <option [value]="null" selected>None</option>
        <option value="name-asc">Name (Ascending)</option>
        <option value="name-desc">Name (Descending)</option>
        <option value="dateLastEdited-asc">Date Last Edited (Ascending)</option>
        <option value="dateLastEdited-desc">Date Last Edited (Descending)</option>
      </select>
    </div>
    <div class="filter-item">
      <label>Page Size: </label>
      <input class="numeric-input" formControlName="pageSize" type="number" min="1"/>
    </div>
    <div class="filter-item">
      <label>Go to page: </label>
      <input class="numeric-input" formControlName="pageNumber" type="number" min="1"/>
    </div>
  </div>
  <div class="error-msg">
    <div *ngIf="filtersWithPageForm.controls['pageSize'].errors">Please enter a valid Page Size.</div>
    <div *ngIf="filtersWithPageForm.controls['pageNumber'].errors as pageNumberError">
      <div *ngIf="pageNumberError.max; else genericErrorMsg">Page Number should be between 1 and {{pageNumberError.max.max}}</div>
      <ng-template #genericErrorMsg>
        <div>Please enter a valid Page Number.</div>
      </ng-template>
    </div>
  </div>
</form>
