<form [formGroup]="filtersWithPageForm" class="controls-block">
  <div>
    <input formControlName="search" placeholder="Search"/>
  </div>
  <div>
    <label for="sort-by">Sort By: </label>
    <select formControlName="sort" name="sort-by" id="sort-by">
      <option [value]="null" selected>None</option>
      <option value="name-asc">Name (Ascending)</option>
      <option value="name-desc">Name (Descending)</option>
      <option value="dateLastEdited-asc">Date Last Edited (Ascending)</option>
      <option value="dateLastEdited-desc">Date Last Edited (Descending)</option>
    </select>
  </div>
  <div>
    Page Size:
    <input class="numeric-input" formControlName="pageSize" type="number" min="1"/>
  </div>
  <div>
    Go to page:
    <input class="numeric-input" formControlName="pageNumber" type="number" min="1"/>
  </div>
</form>